body {
    font-family: Arial;
  }
  
  .container {
    padding: 2rem;
  }
  
  h1 {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .movie-description {
    display: none;
  }
  
  .movie-description.active {
    display: block;
  }
  
  .movie-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: none;
  }
  
  .movie-image.active {
    display: block;
  }
  
  .movie-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 25px;
  }
  
  .image-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .movie-container:hover {
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .movie-container.active .movie-title {
    display: block;
  }
  
  .filter {
    padding: 2rem;
    cursor: pointer;
  }
  
  