@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
body {
  font-family: 'Kiwi Maru', serif;
    background-color: rgb(184, 144, 144);
    color: aliceblue;
  }
  
  h1 {
    font-weight: normal;
    font-size: 1.5rem;
    color: rgb(217, 232, 245);
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .container {
    padding: 10rem;
    background-color: rgb(138, 130, 130);
    color: rgb(255, 255, 255);
  }
  
  .movie-description {
    display: none;
  }
  
  .movie-description.active {
    display: block;
  }
  
  .movie-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: none;
  }
  
  .movie-image.active {
    display: block;
  }
  
  .movie-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    padding: 1rem;
    box-sizing: border-box;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 35px;
  }
  
  .image-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  .movie-container:hover {
    border: 3px solid rgb(231, 148, 148);
    border-radius: 25px;
    cursor: pointer;
  }
  
  .movie-container.active .movie-name {
    display: block;
  }
  
  .filter {
    padding: 3rem;
    cursor: pointer;
    color: black;
  }
  
  