@font-face {
    font-family: "Fraunces";
    src: url("./assets/Fraunces.woff2") format("woff2");
}

body {
    font-family: "Fraunces", sans-serif;
}

.message.big {
    font-size: 10rem;
}

.container {
    background-color: lightblue;
    min-height: 100vh;
}
.new-message {
    text-align: center;
}

.new-image {
    transform:rotate(10deg);
}